.headerContainer {
  background-color: var(--brand-panel); /* Nova cor de painel */
  border-radius: 20px;
  padding: 10px 30px;
  width: 100%;
  box-sizing: border-box;
}

.headerContainer h1 {
  color: var(--brand-accent); /* Amarelo */
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}