.navContainer {
  background-color: var(--brand-panel); /* Nova cor de painel */
  border-radius: 20px;
  padding: 24px;
  flex-grow: 1; /* Ocupa o espaço disponível na sidebar */
}

.title {
  color: var(--brand-accent); /* Amarelo */
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.navList {
  list-style: none;
}

.navList li {
  margin-bottom: 18px;
}

.navLink {
  text-decoration: none;
  color: var(--text-light);
  font-size: 1.1rem;
  transition: color 0.2s ease-in-out;
}

.navLink:hover {
  color: var(--brand-accent);
}

/* Estilo especial para o link ativo! */
.navLink.active {
  color: var(--brand-accent);
  font-weight: bold;
}